img{
    height : auto;
    width : 120px;
}


/* Style des menus */
.menu-label {
    font-weight: bold;
    /* Couleur du texte */
    color: #333;
    margin-top: 1em;
}

.menu-list a {
    /* Couleur du texte des liens */
    color: #555;
    transition: color 0.3s ease-in-out;
}

.menu-list a:hover {
    /* Couleur du texte des liens au survol */
    color: #84ff00;
    /* Soulignement au survol */
    text-decoration: underline;
}


/* Style des cellules d'en-tête et des cellules de données */
.table th,
.table td {
    /* Bordures des cellules */
    border: 1px solid #ddd !important;
    padding: 0.75em !important;
    /* Ajout d'une transition pour l'effet */
    transition: transform 0.3s ease-in-out;
}

/* Style des cellules d'en-tête */
.table th {
    /* Couleur de fond des cellules d'en-tête */
    background-color: #82db34;
    color: #fff;
    text-align: left;
}

/* Effet de translation au survol */
.table td:hover {
    /* Déplacement de la cellule de 5 pixels vers le haut au survol */
    transform: translateY(-5px) !important;
}
.panel-block {
    /* Ajout d'une transition pour l'effet */
    transition: transform 0.3s ease-in-out;
}

/* Déplacement de la cellule de 3 pixels vers le haut au survol */
.panel-block:hover {
    transform: translateY(-3px);
}



